name = "SMLMDriftCorrection"
uuid = "34bda2d1-2fff-475a-a8c4-7f53d4251312"
authors = ["klidke@unm.edu"]
version = "0.1.0"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
